 {% extends 'base/base.html' %} {% block extrahead %}
<div class="row justify-content-center">
    <div class="col-md-2 offset-1">
        Formulario Ingreso de Información
    </div>
</div>
<br />
<br /> {% endblock %} {% block content %}
<form method="POST">
    <div class="row justify-content-center">
        <div class="col-md-2">
            {% csrf_token %} {{ form.as_table }}

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2 offset-1 align-content-lg-center">
            <button type="submit">SUBMIT</button>

        </div>
    </div>
</form>
{% endblock %}