{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block extrahead %} {% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>{% block title %} Formulario para el Dane {% endblock %}</title>

</head>

<body>
    <div class="container">

        {% block content %}
        <h4>Bloque de contenido</h4>
        {% endblock %}

    </div>

    {% block footer %} {% endblock %} {% block extrajs %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}

</body>

</html>